# pandas è¿›é˜¶ä¿®ç‚¼
<br>

æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚


ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

## 7 - æ•°æ®é€è§†ä¸åˆå¹¶



<br>

**<font color = '#5172F0'><font size=3.5>å¿…è¯»ğŸ‘‡ğŸ‘‡ğŸ‘‡**</font>
    
ç°åœ¨è®©æˆ‘ä»¬ç»§ç»­ç»ƒä¹  pandasæ•°æ®åˆ†æå¦ä¸€ç»„å¸¸ç”¨æ“ä½œ --> **æ•°æ®é€è§†ä¸åˆå¹¶**


æœ¬èŠ‚ä¹ é¢˜å°†æ¶‰åŠå››å¤§å‡½æ•°ï¼š
    
- pivot_table
- concat
- merge
- join

éšç€ç»ƒä¹ çš„æ·±å…¥ï¼Œè‹¥æ²¡æœ‰ä¸€å®šçš„åŸºç¡€çŸ¥è¯†å°†å¾ˆéš¾ç»§ç»­åˆ·é¢˜
    
å®˜æ–¹æ–‡æ¡£æ°¸è¿œæ˜¯æœ€å¥½çš„å­¦ä¹ æ‰‹å†Œï¼Œåœ¨æœ¬èŠ‚ä¹‹å‰å¼ºçƒˆå»ºè®®å­¦ä¹ [å®˜æ–¹æ–‡æ¡£å¯¹åº”éƒ¨åˆ†](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**ä¹ é¢˜+ç­”æ¡ˆç‰ˆ**


è¯·æ‰§è¡Œä¸‹æ–¹å•å…ƒæ ¼ä»¥åˆå§‹åŒ–è¯»å–æœ¬èŠ‚ä¹ é¢˜çš„ç­”æ¡ˆ

æ‰§è¡Œå®Œæ¯•åï¼Œä½ å¯ä»¥ä½¿ç”¨ `ans(1)` æ¥æŸ¥çœ‹ç¬¬ 1 é¢˜çš„å‚è€ƒè§£ç­”ï¼Œå…¶ä½™ä¹ é¢˜ç±»ä¼¼ã€‚

æ³¨æ„ï¼šæ‰€æœ‰ç­”æ¡ˆå¹¶éå›ºå®šï¼ˆå”¯ä¸€ï¼‰ï¼Œæˆ‘æä¾›çš„ç­”æ¡ˆä»…ä¾›å‚è€ƒï¼ˆå¹¶éæ¨èç­”æ¡ˆæˆ–è€…æœ€ä¼˜è§£ï¼‰

In [1]:
import sys
sys.path.append('../document/')
from inits import initialize, ans
res = initialize("../document/answer-7.txt")

***************æ­£åœ¨åˆå§‹åŒ–***************
*************è¯»å–åˆ°é…ç½®æ–‡ä»¶*************
***************åˆå§‹åŒ–æˆåŠŸ***************

## æ•°æ®é€è§†è¡¨

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 1 - åŠ è½½æ•°æ®

è¯»å–å½“å‰ç›®å½•ä¸‹ `"æŸè¶…å¸‚é”€å”®æ•°æ®.csv"` å¹¶è®¾ç½®åƒåˆ†ä½ç¬¦å·ä¸º `,`

In [5]:
import pandas as pd
import numpy as np

# csvæ–‡ä»¶ä¸­é”€å”®é¢è¡¨ç¤ºä¸º3,305ï¼Œç±»å‹ä¸ºobject
df = pd.read_csv('æŸè¶…å¸‚é”€å”®æ•°æ®.csv', thousands = ',')

### 2 - æ•°æ®é€è§†ï½œé»˜è®¤

åˆ¶ä½œå„çœã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [8]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], aggfunc = [np.mean])
pd.DataFrame(df.groupby('çœ/è‡ªæ²»åŒº')['é”€å”®é¢'].mean())

               é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934
äº‘å—     1863.789030
å†…è’™å¤    1314.826316
åŒ—äº¬     1726.857143
å‰æ—     1701.563567
å››å·     1157.875536
å¤©æ´¥     1611.206667
å®å¤     1651.680000
å®‰å¾½     1477.868251
å±±ä¸œ     1642.659111
å±±è¥¿     1751.359184
å¹¿ä¸œ     1592.185340
å¹¿è¥¿     1675.061135
æ–°ç–†     1402.384615
æ±Ÿè‹     1279.898089
æ±Ÿè¥¿     1966.477876
æ²³åŒ—     1780.275248
æ²³å—     1558.400335
æµ™æ±Ÿ     1347.277778
æµ·å—     1721.982759
æ¹–åŒ—     1324.808442
æ¹–å—     1603.702222
ç”˜è‚ƒ     1602.893443
ç¦å»º     1732.044693
è¥¿è—      201.000000
è´µå·     1425.978723
è¾½å®     1363.381982
é‡åº†     1383.082927
é™•è¥¿     1880.606635
é’æµ·     2978.954545
é»‘é¾™æ±Ÿ    1800.438503

### 3 - æ•°æ®é€è§†ï½œæŒ‡å®šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [9]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], aggfunc = sum)
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], aggfunc = [np.sum])

           é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601
äº‘å—      441718
å†…è’™å¤     249817
åŒ—äº¬      350552
å‰æ—      896724
å››å·      269785
å¤©æ´¥      483362
å®å¤       41292
å®‰å¾½      684253
å±±ä¸œ     1884130
å±±è¥¿      429083
å¹¿ä¸œ     1520537
å¹¿è¥¿      383589
æ–°ç–†       72924
æ±Ÿè‹      401888
æ±Ÿè¥¿      222212
æ²³åŒ—      899039
æ²³å—      930365
æµ™æ±Ÿ      266761
æµ·å—       99875
æ¹–åŒ—      408041
æ¹–å—      721666
ç”˜è‚ƒ      195553
ç¦å»º      620072
è¥¿è—         201
è´µå·       67021
è¾½å®      756677
é‡åº†      283532
é™•è¥¿      396808
é’æµ·       65537
é»‘é¾™æ±Ÿ    1346728

### 4 - æ•°æ®é€è§†ï½œå¤šæ–¹æ³•

åˆ¶ä½œå„çœã€Œé”€å”®æ€»é¢ã€ä¸ã€Œå¹³å‡é”€å”®é¢ã€çš„æ•°æ®é€è§†è¡¨

In [10]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], aggfunc = ['mean', sum])

              mean      sum
               é”€å”®é¢      é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934   594601
äº‘å—     1863.789030   441718
å†…è’™å¤    1314.826316   249817
åŒ—äº¬     1726.857143   350552
å‰æ—     1701.563567   896724
å››å·     1157.875536   269785
å¤©æ´¥     1611.206667   483362
å®å¤     1651.680000    41292
å®‰å¾½     1477.868251   684253
å±±ä¸œ     1642.659111  1884130
å±±è¥¿     1751.359184   429083
å¹¿ä¸œ     1592.185340  1520537
å¹¿è¥¿     1675.061135   383589
æ–°ç–†     1402.384615    72924
æ±Ÿè‹     1279.898089   401888
æ±Ÿè¥¿     1966.477876   222212
æ²³åŒ—     1780.275248   899039
æ²³å—     1558.400335   930365
æµ™æ±Ÿ     1347.277778   266761
æµ·å—     1721.982759    99875
æ¹–åŒ—     1324.808442   408041
æ¹–å—     1603.702222   721666
ç”˜è‚ƒ     1602.893443   195553
ç¦å»º     1732.044693   620072
è¥¿è—      201.000000      201
è´µå·     1425.978723    67021
è¾½å®     1363.381982   756677
é‡åº†     1383.082927   283532
é™•è¥¿     1880.606635   396808
é’æµ·     2978.954545    65537
é»‘é¾™æ±Ÿ    1800.438503  1346728

In [11]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], aggfunc = [np.mean, np.sum, np.median, np.max, np.min])

              mean      sum  median   amax amin
               é”€å”®é¢      é”€å”®é¢     é”€å”®é¢    é”€å”®é¢  é”€å”®é¢
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     1875.712934   594601   673.0  29124   18
äº‘å—     1863.789030   441718   714.0  24536   25
å†…è’™å¤    1314.826316   249817   457.0  11164   33
åŒ—äº¬     1726.857143   350552   655.0  30307   16
å‰æ—     1701.563567   896724   689.0  21286   15
å››å·     1157.875536   269785   580.0  15207   32
å¤©æ´¥     1611.206667   483362   633.0  22501   29
å®å¤     1651.680000    41292   666.0   8469   89
å®‰å¾½     1477.868251   684253   556.0  20075   25
å±±ä¸œ     1642.659111  1884130   683.0  27047   21
å±±è¥¿     1751.359184   429083   698.0  18368   22
å¹¿ä¸œ     1592.185340  1520537   684.0  23416   13
å¹¿è¥¿     1675.061135   383589   558.0  15305   22
æ–°ç–†     1402.384615    72924   687.0  12611   77
æ±Ÿè‹     1279.898089   401888   557.5  15471   27
æ±Ÿè¥¿     1966.477876   222212   662.0  18061   29
æ²³åŒ—     1780.275248   899039   713.0  35621   41
æ²³å—     1558.400335   930365   617.0  25995   17
æµ™æ±Ÿ     1347.277778   266761   547.0  15671   32
æµ·å—     1721.982759    99875   707.5  17656   42
æ¹–åŒ—     1324.808442   408041   542.0  14250   25
æ¹–å—     1603.702222   721666   577.0  19737   36
ç”˜è‚ƒ     1602.893443   195553   755.0   9497   38
ç¦å»º     1732.044693   620072   613.5  27113   24
è¥¿è—      201.000000      201   201.0    201  201
è´µå·     1425.978723    67021   890.0   6510   71
è¾½å®     1363.381982   756677   601.0  12469   14
é‡åº†     1383.082927   283532   599.0  19243   24
é™•è¥¿     1880.606635   396808   627.0  20943   34
é’æµ·     2978.954545    65537  1801.0   9032   98
é»‘é¾™æ±Ÿ    1800.438503  1346728   665.5  25712   22

### 5 - æ•°æ®é€è§†ï½œå¤šæŒ‡æ ‡

åˆ¶ä½œå„çœå¸‚ã€Œé”€å”®æ€»é¢ã€ä¸ã€Œåˆ©æ¶¦æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [13]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢', 'åˆ©æ¶¦'], aggfunc = sum)
pd.DataFrame(df.groupby('çœ/è‡ªæ²»åŒº')['é”€å”®é¢', 'åˆ©æ¶¦'].sum())

/var/folders/qj/8tfrrqrs1bd7crl_5jfktjyr0000gn/T/ipykernel_30574/4176997876.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby('çœ/è‡ªæ²»åŒº')['é”€å”®é¢', 'åˆ©æ¶¦'].sum())

           é”€å”®é¢      åˆ©æ¶¦
çœ/è‡ªæ²»åŒº
ä¸Šæµ·      594601   87236
äº‘å—      441718   83201
å†…è’™å¤     249817  -20685
åŒ—äº¬      350552   57883
å‰æ—      896724  152504
å››å·      269785  -16615
å¤©æ´¥      483362   63108
å®å¤       41292   -1149
å®‰å¾½      684253  133312
å±±ä¸œ     1884130  310042
å±±è¥¿      429083   79913
å¹¿ä¸œ     1520537  278591
å¹¿è¥¿      383589   61444
æ–°ç–†       72924   13696
æ±Ÿè‹      401888   -6500
æ±Ÿè¥¿      222212   27144
æ²³åŒ—      899039  153247
æ²³å—      930365  168714
æµ™æ±Ÿ      266761  -17024
æµ·å—       99875   21298
æ¹–åŒ—      408041  -22896
æ¹–å—      721666   92944
ç”˜è‚ƒ      195553  -25298
ç¦å»º      620072  133791
è¥¿è—         201       4
è´µå·       67021    5408
è¾½å®      756677  -24930
é‡åº†      283532   39688
é™•è¥¿      396808   61753
é’æµ·       65537    4354
é»‘é¾™æ±Ÿ    1346728  228262

### 6 - æ•°æ®é€è§†ï½œå¤šç´¢å¼•

åˆ¶ä½œã€Œå„çœå¸‚ã€ä¸ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®æ€»é¢ã€çš„æ•°æ®é€è§†è¡¨

In [18]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº', 'ç±»åˆ«'], values = ['é”€å”®é¢'], aggfunc = sum)
pd.DataFrame(df.groupby(['çœ/è‡ªæ²»åŒº', 'ç±»åˆ«'])['é”€å”®é¢'].sum())

               é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  198529
      å®¶å…·    221058
      æŠ€æœ¯    175014
äº‘å—    åŠå…¬ç”¨å“  123051
      å®¶å…·    174155
...            ...
é’æµ·    å®¶å…·     25923
      æŠ€æœ¯     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  473319
      å®¶å…·    497504
      æŠ€æœ¯    375905

[91 rows x 1 columns]

### 7 - æ•°æ®é€è§†ï½œå¤šå±‚

åˆ¶ä½œå„çœå¸‚ã€Œä¸åŒç±»åˆ«ã€äº§å“çš„ã€Œé”€å”®æ€»é¢ã€é€è§†è¡¨

In [17]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº'], values = ['é”€å”®é¢'], columns = 'ç±»åˆ«', aggfunc = sum)

            é”€å”®é¢
ç±»åˆ«         åŠå…¬ç”¨å“        å®¶å…·        æŠ€æœ¯
çœ/è‡ªæ²»åŒº
ä¸Šæµ·     198529.0  221058.0  175014.0
äº‘å—     123051.0  174155.0  144512.0
å†…è’™å¤     74058.0   95426.0   80333.0
åŒ—äº¬     144232.0  127407.0   78913.0
å‰æ—     215143.0  287498.0  394083.0
å››å·     111393.0   88297.0   70095.0
å¤©æ´¥     142526.0  149452.0  191384.0
å®å¤      19529.0   16449.0    5314.0
å®‰å¾½     200511.0  215901.0  267841.0
å±±ä¸œ     575520.0  664339.0  644271.0
å±±è¥¿     121458.0  175522.0  132103.0
å¹¿ä¸œ     494643.0  530054.0  495840.0
å¹¿è¥¿     102625.0  165140.0  115824.0
æ–°ç–†      38345.0   20520.0   14059.0
æ±Ÿè‹     163919.0  152868.0   85101.0
æ±Ÿè¥¿      37114.0  107047.0   78051.0
æ²³åŒ—     284739.0  306535.0  307765.0
æ²³å—     266916.0  294593.0  368856.0
æµ™æ±Ÿ      84471.0   84436.0   97854.0
æµ·å—      34141.0   41225.0   24509.0
æ¹–åŒ—     112230.0  118053.0  177758.0
æ¹–å—     197969.0  241804.0  281893.0
ç”˜è‚ƒ      54012.0   68657.0   72884.0
ç¦å»º     142728.0  243289.0  234055.0
è¥¿è—        201.0       NaN       NaN
è´µå·       9713.0   29285.0   28023.0
è¾½å®     214994.0  270279.0  271404.0
é‡åº†      71020.0   96318.0  116194.0
é™•è¥¿     119169.0  187497.0   90142.0
é’æµ·      16718.0   25923.0   22896.0
é»‘é¾™æ±Ÿ    473319.0  497504.0  375905.0

### 8 - æ•°æ®é€è§†ï½œç»¼åˆ

åˆ¶ä½œã€Œå„çœå¸‚ã€ã€ã€Œä¸åŒç±»åˆ«ã€äº§å“ã€Œé”€å”®é‡ä¸é”€å”®é¢ã€çš„ã€Œå‡å€¼ä¸æ€»å’Œã€çš„æ•°æ®é€è§†è¡¨ï¼Œå¹¶åœ¨æœ€åè¿½åŠ ä¸€è¡Œã€åˆè®¡ã€

In [20]:
pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº', 'ç±»åˆ«'], values = ['é”€å”®é¢', 'æ•°é‡'], aggfunc = ['mean', sum], margins = True)

                mean                 sum
                  æ•°é‡          é”€å”®é¢     æ•°é‡       é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  1140.971264    645    198529
      å®¶å…·    4.132530  2663.349398    343    221058
      æŠ€æœ¯    3.616667  2916.900000    217    175014
äº‘å—    åŠå…¬ç”¨å“  3.913043   891.673913    540    123051
      å®¶å…·    4.224490  3554.183673    207    174155
...              ...          ...    ...       ...
é’æµ·    æŠ€æœ¯    3.833333  3816.000000     23     22896
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  1088.089655   1591    473319
      å®¶å…·    3.921687  2997.012048    651    497504
      æŠ€æœ¯    3.442177  2557.176871    506    375905
All         3.768093  1608.892099  37436  15984343

[92 rows x 4 columns]

### 9 - æ•°æ®é€è§†ï½œç­›é€‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼ŒæŸ¥è¯¢ **ã€Œç±»åˆ«ã€** ç­‰äº **ã€ŒåŠå…¬ç”¨å“ã€** çš„è¯¦æƒ…

In [22]:
table = pd.pivot_table(df, index = ['çœ/è‡ªæ²»åŒº', 'ç±»åˆ«'], values = ['é”€å”®é¢', 'æ•°é‡'], aggfunc = ['mean', sum], margins = True)
table.query('ç±»åˆ« == ["åŠå…¬ç”¨å“"]')

                mean                sum
                  æ•°é‡          é”€å”®é¢    æ•°é‡     é”€å”®é¢
çœ/è‡ªæ²»åŒº ç±»åˆ«
ä¸Šæµ·    åŠå…¬ç”¨å“  3.706897  1140.971264   645  198529
äº‘å—    åŠå…¬ç”¨å“  3.913043   891.673913   540  123051
å†…è’™å¤   åŠå…¬ç”¨å“  3.391304   643.982609   390   74058
åŒ—äº¬    åŠå…¬ç”¨å“  3.750000  1163.161290   465  144232
å‰æ—    åŠå…¬ç”¨å“  3.520270   726.834459  1042  215143
å››å·    åŠå…¬ç”¨å“  3.947368   837.541353   525  111393
å¤©æ´¥    åŠå…¬ç”¨å“  3.917127   787.436464   709  142526
å®å¤    åŠå…¬ç”¨å“  3.750000  1627.416667    45   19529
å®‰å¾½    åŠå…¬ç”¨å“  3.710526   753.800752   987  200511
å±±ä¸œ    åŠå…¬ç”¨å“  3.775112   862.848576  2518  575520
å±±è¥¿    åŠå…¬ç”¨å“  3.880597   906.402985   520  121458
å¹¿ä¸œ    åŠå…¬ç”¨å“  3.908088   909.270221  2126  494643
å¹¿è¥¿    åŠå…¬ç”¨å“  3.954545   777.462121   522  102625
æ–°ç–†    åŠå…¬ç”¨å“  3.575758  1161.969697   118   38345
æ±Ÿè‹    åŠå…¬ç”¨å“  3.849741   849.321244   743  163919
æ±Ÿè¥¿    åŠå…¬ç”¨å“  3.523077   570.984615   229   37114
æ²³åŒ—    åŠå…¬ç”¨å“  3.968750   988.677083  1143  284739
æ²³å—    åŠå…¬ç”¨å“  3.628242   769.210375  1259  266916
æµ™æ±Ÿ    åŠå…¬ç”¨å“  3.684211   740.973684   420   84471
æµ·å—    åŠå…¬ç”¨å“  3.314286   975.457143   116   34141
æ¹–åŒ—    åŠå…¬ç”¨å“  3.666667   645.000000   638  112230
æ¹–å—    åŠå…¬ç”¨å“  3.629771   755.606870   951  197969
ç”˜è‚ƒ    åŠå…¬ç”¨å“  4.206349   857.333333   265   54012
ç¦å»º    åŠå…¬ç”¨å“  3.801047   747.267016   726  142728
è¥¿è—    åŠå…¬ç”¨å“  3.000000   201.000000     3     201
è´µå·    åŠå…¬ç”¨å“  3.954545   441.500000    87    9713
è¾½å®    åŠå…¬ç”¨å“  3.741722   711.900662  1130  214994
é‡åº†    åŠå…¬ç”¨å“  3.876106   628.495575   438   71020
é™•è¥¿    åŠå…¬ç”¨å“  3.816667   993.075000   458  119169
é’æµ·    åŠå…¬ç”¨å“  4.444444  1857.555556    40   16718
é»‘é¾™æ±Ÿ   åŠå…¬ç”¨å“  3.657471  1088.089655  1591  473319

### 10 -æ•°æ®é€è§†ï½œé€†é€è§†

é€†é€è§†å°±æ˜¯å°†å®½çš„è¡¨è½¬æ¢ä¸ºé•¿çš„è¡¨ï¼Œä¾‹å¦‚å°†ç¬¬ 5 é¢˜çš„é€è§†è¡¨è¿›è¡Œé€†é€è§†ï¼Œå…¶ä¸­ä¸éœ€è¦è½¬æ¢çš„åˆ—ä¸ºã€æ•°é‡ã€åˆ—

In [24]:
table = pd.pivot_table(df, index = 'ç±»åˆ«', values = ['é”€å”®é¢', 'åˆ©æ¶¦', 'æ•°é‡'], aggfunc = sum)
table

          åˆ©æ¶¦     æ•°é‡      é”€å”®é¢
ç±»åˆ«
åŠå…¬ç”¨å“  752124  21389  4844936
å®¶å…·    628052   8434  5696531
æŠ€æœ¯    742264   7613  5442876

In [26]:
# ä»¥ 'æ•°é‡' ä¸ºindex
table.melt(id_vars = ['æ•°é‡'], var_name = 'åˆ†ç±»', value_name = 'é‡‘é¢')

      æ•°é‡   åˆ†ç±»       é‡‘é¢
0  21389   åˆ©æ¶¦   752124
1   8434   åˆ©æ¶¦   628052
2   7613   åˆ©æ¶¦   742264
3  21389  é”€å”®é¢  4844936
4   8434  é”€å”®é¢  5696531
5   7613  é”€å”®é¢  5442876

## æ•°æ®åˆå¹¶

### concat - æ•°æ®æ‹¼æ¥

`concat`ä¸»è¦ç”¨äº**æ•°æ®æ‹¼æ¥**ï¼Œä¹Ÿæ˜¯éå¸¸å¸¸ç”¨çš„ä¸€ä¸ªæ“ä½œ

é™¤äº†å®˜æ–¹æ–‡æ¡£å¤–å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ 

ä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œä¸‹æ–¹ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [28]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

#### 11 - <font color = '#FB8E00'>concat</font>ï½œé»˜è®¤æ‹¼æ¥

æ‹¼æ¥ df1 å’Œ df2

In [ ]:
# ä¸Šä¸‹è¿æ¥
pd.concat([df1, df2])

#### 12 - <font color = '#FB8E00'>concat</font>ï½œæ‹¼æ¥å¤šä¸ª

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [ ]:
pd.concat([df1, df2, df3])

#### 13 - <font color = '#FB8E00'>concat</font>ï½œé‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [29]:
# ä¸å¿½ç•¥ç´¢å¼•ä¼šæŠŠåŸç´¢å¼•å¡«å……
pd.concat([df1, df4], ignore_index = True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [ ]:
pd.concat([df1, df4], axis = 1)

#### 15 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [ ]:
pd.concat([df1, df4], axis = 1, join = 'inner')

#### 16 - <font color = '#FB8E00'>concat</font>ï½œæ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [30]:
pd.concat([df1, df4], axis = 1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

#### 17 - <font color = '#FB8E00'>concat</font>ï½œæ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [31]:
pd.concat([df1, df2, df3], keys = ['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - æ•°æ®è¿æ¥

concatæ˜¯æ‹¼æ¥ï¼Œmergeåˆ™æ˜¯è¿æ¥ï¼ŒåŒæ ·é‡è¦çš„ä¸€ä¸ªæ“ä½œ

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

#### 18 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å•é”®

æ ¹æ® `key` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [36]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [37]:
# on = 'key' åªæœ‰ 'key' ä¸€æ ·çš„æ—¶å€™æ‰èƒ½merge
pd.merge(left, right, on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>ï½œæŒ‰å¤šé”®

æ ¹æ® `key1` å’Œ `key2` è¿æ¥ `left` å’Œ `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [38]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# å¯¹åº”keyå€¼åˆ†åˆ«ç›¸ç­‰
pd.merge(left, right, on = ['key1', 'key2'])

#### 20 - <font color = '#1B85FF' >merge</font>ï½œå·¦å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å·¦è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [ ]:
# å·¦å¤–è¿æ¥
pd.merge(left, right, how = 'left', on = ['key1', 'key2'])

#### 21 - <font color = '#1B85FF' >merge</font>ï½œå³å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å³è¡¨å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [ ]:
pd.merge(left, right, how = 'right', on = ['key1', 'key2'])

#### 22 - <font color = '#1B85FF' >merge</font>ï½œå…¨å¤–è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™å…¨éƒ¨é”®
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [ ]:
pd.merge(left, right, how = 'outer', on = ['key1', 'key2'])

#### 23 - <font color = '#1B85FF' >merge</font>ï½œå†…è¿æ¥


å¦‚ä¸‹å›¾æ‰€ç¤ºçš„ç»“æœè¿æ¥ left å’Œ rightï¼Œä¿ç•™äº¤é›†
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [ ]:
pd.merge(left, right, how = 'inner', on = ['key1', 'key2'])

#### 24 - <font color = '#1B85FF' >merge</font>ï½œé‡å¤ç´¢å¼•


é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [39]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [40]:
pd.merge(left, right, on = 'k', suffixes = ['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - ç»„åˆ

æœ€åä¸€ä¸ªæ•°æ®åˆå¹¶çš„å¸¸ç”¨ä¸”é‡è¦çš„æ“ä½œæ˜¯`join`

åŒæ ·å¾ˆéš¾æ‰¾åˆ°æ¯”å®˜æ–¹æ–‡æ¡£æ›´å¥½çš„ç»ƒä¹ ï¼Œä»¥ä¸‹æ¡ˆä¾‹æ¥æºæˆ–åŸºäº [ğŸ‘‰å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) ä¸­çš„æ¡ˆä¾‹ä¿®æ”¹è€Œæ¥

åœ¨ç»ƒä¹ ä¹‹å‰åº”æ‰§è¡Œæ¯é¢˜ä¸‹æ–¹çš„ä»£ç ç”Ÿæˆæ•°æ®

å¹¶åº”é¢„è§ˆä¸åŒæ•°æ®çš„ç»“æ„ä»¥åŠæ¯é¢˜çš„å›¾è§£ï¼ˆå¦‚æœæœ‰ï¼‰

In [242]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½

åˆå¹¶ left å’Œ rightï¼Œå¹¶æŒ‰ç…§ left çš„ç´¢å¼•è¿›è¡Œå¯¹é½

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [ ]:
left.join(right)

#### 26 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå¤–è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

æ€è€ƒï¼šmerge åšæ³•

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [ ]:
left.join(right, how = 'outer')

In [ ]:
pd.merge(left, right, left_index = True, right_index = True, how = 'outer')

#### 27 - <font color ='#27BE49'>join</font>ï½œå·¦å¯¹é½ï¼ˆå†…è¿æ¥ï¼‰

æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [ ]:
left.join(right, how = 'inner')

#### 28 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [248]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [ ]:
left.join(right, on = 'key')

#### 29 - <font color ='#27BE49'>join</font>ï½œæŒ‰ç´¢å¼•ï¼ˆå¤šä¸ªï¼‰

é‡æ–°äº§ç”Ÿæ•°æ®å¹¶æŒ‰ä¸‹å›¾æ‰€ç¤ºè¿›è¡Œè¿æ¥ï¼ˆæ ¹æ® `key1` å’Œ `key2`ï¼‰

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [ ]:
left.join(right, on = ['key1', 'key2'])